language: node_js
branches:
  only: master
install:
- npm install -g gulp
- npm install

before_script:
- cd _scripts/
- npm install
- cd ..

script:
- node ./_scripts/main.js

notifications:
  email:
    on_success: never
    on_failure: always