<div class="py2 post-footer">
  <p class="small">
    Spotted a typo? Better ways to express? Feel free to <a href="https://github.com/zpbappi/zpbappi.github.io/edit/master/{{post.path}}">contribute it</a>.  
  </p>
  <!-- <img src="https://s.gravatar.com/avatar/07055b34f339d6411dbdd14d89d16f20?s=80" alt="Zp Bappi" class="avatar" />-->
  <img src="/images/me.jpg" alt="Zp Bappi" class="avatar" width="80" />
  <p>
    <a href="{{site.url}}{{site.baseurl}}/about">Zp Bappi</a> is a technology
    lover, great fan of designs and patterns (both of them together as well)
    and likes to play with anything cool.
    When he's not writing code or reading blogs, he may be sleeping or eating
    somewhere. Currently he's very excited about F# and assisting in organizing
    <a href="http://www.meetup.com/fsharpsydney/">F# user group in Sydney</a>.
  </p>
  {% if site.twitter_username %}
  <p>
    Follow him on <a href="https://twitter.com/{{site.twitter_username}}">Twitter</a>.
  </p>
  {% endif %}
</div>
